.container {
    width: 100vw;
    height: 100vh;
    background-color: #121826;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  a, .styled-button {
    background-color: #1a2131;
    border: #838383 solid 1px;
    width: 16rem;
    height: 8rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    text-decoration: none;
  }
  
  a:hover, .styled-button:hover {
    filter: opacity(70%);
  }
  
  .modal {
    background-color: #1a2131;
    width: 50rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border: #838383 solid 1px;
  }

  .section {
  position: relative;
  background-color: #121826;
  /* height: 100vh - 2rem; */
}
/* .modal {
  position: absolute;
  width: 20rem;
  height: 20rem;
  top: 2rem;
  right: 20rem;
} */
.loader_modal {
  position: absolute;
  width: 100%;
  height: 100vh - 2rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-content: center;
}
.loader {
  display: flex;
  align-content: center;
  justify-content: center;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}